:root {
	--color-black: #4a4a4a;
	--color-white: #f5f5f5;
	--color-grey: #dadada;
	--color-blue: #538cc2;
	--color-arsenic: #424247;
	--color-red: #d44444;
}

body {
	background: var(--color-grey);
}

.categories div {
	padding: 0.8rem 1rem;
	color: var(--color-white);
}

.user-list {
	margin-top: 0.5rem;
	margin-bottom: 5rem;
}

/* USER */

.user {
	padding-bottom: 1rem;
	color: var(--color-black);
}

.user:nth-child(odd) {
	background: var(--color-white);
}

.user__head {
	cursor: pointer;
}

.head__detail {
	padding: 2rem 1rem;
}

.user__body--show {
	max-height: 20rem;
	transition: all 0.5s ease;
	overflow: hidden;
}

.user__body--hide {
	max-height: 0;
	transition: all 0.5s ease;
	overflow: hidden;
}

.body__detail {
	padding: 1rem;
	font-size: 0.9rem;
}

.body__name {
	margin: 0.5rem 10%;
}

/* MODAL */

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.1s ease-in-out;
}

#modal {
	background: var(--color-white);
}

.chart {
	max-width: 50%;
	min-height: 300px;
}

.no-chart {
	min-height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal__icon {
	margin-left: 1rem;
	padding: 0.4rem 0.7rem;
	border-radius: 10rem;
	color: var(--color-white);
}

.modal__icon--male {
	background: var(--color-blue);
}

.modal__icon--female {
	background: var(--color-arsenic);
}

/* BUTTONS */

.btn--chart {
	color: var(--color-white);
	background: var(--color-blue);
}

.btn--close {
	color: var(--color-white);
	background: var(--color-red);
}

.btn--chart:hover,
.btn--chart:focus,
.btn--close:hover,
.btn--close:focus {
	color: var(--color-white);
	opacity: 0.7;
}

/* MISC */

.text-title {
	color: var(--color-black);
	font-size: 1.6rem;
}

.avatar {
	margin: 1rem 0;
	border-radius: 10rem;
}
