img {
	border-radius: 4rem;
}

.user {
	padding-bottom: 1rem;
}

.user:nth-child(even) {
	background: rgb(194, 194, 194);
}

.header * {
	padding: 1rem;
	color: white;
}

.head__image,
.body__image {
	padding: 1rem 1rem;
}

.head__image,
.head__toggle {
	text-align: center;
}

.head__detail {
	padding: 2rem 1rem;
}

.body__detail {
	padding: 1rem;
	font-size: 0.9rem;
}

.body__name {
	margin: 1rem 10%;
}
