:root {
	--color-black: #4a4a4a;
	--color-white: #f5f5f5;
	--color-grey: #dadada;
}

body {
	background: var(--color-grey);
}

img {
	border-radius: 4rem;
}

.user {
	padding-bottom: 1rem;
	color: var(--color-black);
}

.user__body--show {
	max-height: 20rem;
	transition: all 0.5s ease;
	overflow: hidden;
}

.user__body--hide {
	max-height: 0;
	transition: all 0.5s ease;
	overflow: hidden;
}

.user:nth-child(odd) {
	background: var(--color-white);
}

.categories div {
	padding: 0.8rem 1rem;
	color: var(--color-white);
}

.head__image,
.body__image {
	padding: 1rem 1rem;
}

.head__detail {
	padding: 2rem 1rem;
}

.body__detail {
	padding: 1rem;
	font-size: 0.9rem;
}

.body__name {
	margin: 1rem 10%;
}

#modal {
	background: #fff;
}

#modalWrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.1s ease-in-out;
}

.chart {
	max-width: 50%;
}

.modal__icon {
	margin-left: 1rem;
	padding: 0.4rem 0.7rem;
	border-radius: 10rem;
	color: var(--color-white);
}

.modal__icon--male {
	background: #7cb5ec;
}

.modal__icon--female {
	background: #424247;
}
